$diqus_brand_height: 55px;
#disqus_thread{
  width: 100%;
  overflow: hidden;
  padding: $padding*2;
  background-color: black;
  iframe{
    @include transform(translateY($diqus_brand_height));
  }
}