.words-and-progress
  .words(ng-bind='deck.words')
  ul.exposures
    li(ng-repeat='exposure in deck.exposures')
      .state.pending(ng-if='exposure.pending')
      .state.completed(ng-if='exposure.completed')
      .state.current.playable(ng-if='exposure.playable')
      .state.current.waiting(ng-if='exposure.waiting')
.deck-actions
  button.outline.study-words Study
  button.outline.play Play