$actions_width: 200px;
$state_indicator-size: 5px;
$word_line_height: 30px;

.vocabset.card {
  .deck {
    position  : relative;
    border-top    : $very_light_border;
    padding   : 2*$padding $padding;
    margin   : 0px $padding;
    border-radius: $border_radius;

    @extend .resize-container;
    .words-and-progress{
      float   :left;
      width: calc(100% - #{$actions_width});
      .words{
        line-height: $word_line_height;
      }
      ul.exposures{
        @extend .resize-container;
        @extend .undo-list;
        > li {
          float: left;
          padding: $padding/2;
          .state{
            height: $state_indicator-size;
            width: $state_indicator-size;
            border-radius: 50%;
          }
          .state.pending, .state.waiting{
            background-color: $vocab_exposure_locked_color;
          }
          .state.completed{
            background-color: $vocab_exposure_completed_color;
          }
          .state.playable{
            background-color: $vocab_exposure_playable;
            @include animation(blink $slow_time infinite);
            @include animationFunction($transition);
          }
        }
      }
    }
    .deck-actions{
      @extend .resize-container;
      float: right;
      width: $actions_width;
      button{
        float: left;
        width: calc(50% - #{$padding/2});
      }
      button.study{
        border: none;
        margin-right: $padding;
      }
    }

  }
}