.scene-param
  label.param-label Key Images
  .param-input
    .input-options(ng-repeat='keyImage in scene.config.keyImages')
      input(type='text', disabled='disabled', ng-model='keyImage.phrase.text')

.scene-param
  label.param-label Transcript
  textarea(ng-model='scene.config.transcript.text').param-input
