$picture-size: $round_image_size;
.game.card{
  float: left;
  width: $card_width;
  padding: $padding*3 $padding $padding;
  background: $card_color;
  line-height: $line_height;
  border: $very_light_border;
  border-radius: $border_radius;

  .picture{
    margin  : auto;
    height  : $image_size;
    width   : $image_size;
    > img{
      display : block;
      height  : 100%;
      width   : 100%;
      border-radius: 50%;
    }
  }
  .title{
    padding-top: 2*$padding;
    font-weight: $weight_bold;
  }
  .by{
    font-size: $extra_small_font;
  }
  .description{
    padding: $padding 0px;
    font-size: $small_font;
  }
  .words{
    text-align: center;
    font-weight: $weight_bold;
    background-color: $card_highlight_bg_color;
    padding: $padding;
    margin: $padding 0px;
    color: $card_text_color;

    .quote{
      display: block;
      text-align: left;
      font-weight: $weight_light;
      font-size :$small_font;
    }
    .quote.right{
      text-align: right;
    }
  }
  button{
    display: block;
    margin-top: 2*$padding ;
    width: 100%;
    border: $highlight_border;
    height: 4*$padding;
    line-height: 4*$padding;
    padding: 0px;
    background: transparent;
    color: $card_button_color;
    outline: none;
    font-weight: $weight_bold;
    border-radius: $border_radius;
  }
  button:hover{
    background: $card_button_color;
    color: $white;
  }
}

.game.card:hover{
  box-shadow: $shadow;
}