$picture-size: $round_image_size;
.game.card{
  display: block;
  position: relative;
  text-decoration: none ;
  color: inherit;
  width: $card_width;
  padding: $padding*3 2*$padding 2*$padding;
  background: $card_color;
  line-height: $line_height;
  border: $very_light_border;
  border-radius: $border_radius;
  box-shadow: $card_shadow;
  cursor: pointer;
  @include transition($shadow_transition);

  .picture{
    margin  : auto;
    height  : $image_size;
    width   : $image_size;
    > img{
      display : block;
      height  : 100%;
      width   : 100%;
      border-radius: 50%;
      @include transition($transition);
    }
  }
  .title{
    padding-top: 2*$padding;
    font-weight: $weight_bold;
    @include transition(transform $transition_time $transition_function);
  }
  .by{
    font-size: $extra_small_font;
    @include transition(transform $transition_time $transition_function);
  }
  .description{
    padding: $padding 0px;
    font-size: $small_font;
    @include transition(transform $transition_time $transition_function);
  }

  button{
    @extend .outline;
    margin-top: 2*$padding ;
    width: 100%;
  }
}

.game.card:hover{
  box-shadow: $card_elevated_shadow;
  .picture{
    > img{
      @include transform(scale(1.1));
    }
  }
  .title, .by, .description{
    @include transform(translateX($padding));
  }
  button{
    @extend .active;
  }
}