@import "tab/tab-buttons.mobile";

.tab-body{
  .tab-filters{
    padding: $padding;
    border-radius: 0px;
    > ul {
      > li {
        width: 50%;
        margin: auto;
        .drop-down{
          margin: auto;
        }
      }
    }
  }
}