@import "tab-buttons";



.tab-body{
  position: relative;
  top: -1px;
  background: $tab_body_color;
  height: 100%;
  width: 100%;
  box-shadow: $shadow;

  .tab-filters{
    background-color: $tab_highlight_color;
    border-top-right-radius: $border_radius;
    padding: $padding;
    box-shadow: $bar_shadow;

    > ul {
      @extend .resize-container;
      > li {
        float: left;
        padding: $padding;
        .drop-down{
          min-width: $filter_width;
        }
      }
    }
  }

  ul.deck{
    @extend .undo-list;
    @extend .resize-container;
    padding: 2*$padding 2*$padding 5*$padding;

    > li{
      float: left;
      padding: $padding;
    }
  }
}