ul.tab-buttons
  li.active.selected
    .tab-shape
    .label My Sets
  li.completed
    .tab-shape
    .label All Sets
  //li.explore
  //  .tab-shape
  //  .label Explore

.tab-body
  .tab-filters
    ul.undo-list
      li
        div.status.drop-down(name='Status', reset='All',value='',options='[{value: "Bonus"}, {value: "Locked"}, {value: "Completed"}, {value: "Not Opened"}]')
      li
        div.assigned.drop-down(name='Assigned', reset='All', value='',options='[{value: "Assigned"}, {value: "Not Assigned"}]')
      li
        div.pre-reading.drop-down(name='Type', reset='"All"', value='',options='[{value: "Pre Reading"}, {value: "Not Pre Reading"}]')

      li
        div.sort.drop-down(name='Sort', reset='Clear', value='',options='[{value: "Date Started"}, {value: "Last Played"}]')

  ul.deck
    li(ng-repeat='game in [{title: "Fun Words", by: "Zinc", description: "Fun Words to learn this summer.", words: "one, two, three, four", status: "bonus", time: 1212},{title: "Fun Words", by: "Zinc", description: "Fun Words to learn this summer.", words: "one, two, three, four", status: "bonus", time: 1212},{title: "Fun Words", by: "Zinc", description: "Fun Words to learn this summer.", words: "one, two, three, four", status: "bonus", time: 1212},{title: "Fun Words", by: "Zinc", description: "Fun Words to learn this summer.", words: "one, two, three, four", status: "bonus", time: 1212},{title: "Fun Words", by: "Zinc", description: "Fun Words to learn this summer.", words: "one, two, three, four", status: "bonus", time: 1212},{title: "Fun Words", by: "Zinc", description: "Fun Words to learn this summer.", words: "one, two, three, four", status: "bonus", time: 1212},{title: "Fun Words", by: "Zinc", description: "Fun Words to learn this summer.", words: "one, two, three, four", status: "bonus", time: 1212},{title: "Fun Words", by: "Zinc", description: "Fun Words to learn this summer.", words: "one, two, three, four", status: "bonus", time: 1212}]')
      .game.card
        .rubber_stamp Assigned
        .picture
          img(src="assets/images/vocab.eg.jpg")
        .title(ng-bind="game.title")
        .by
          span By &nbsp;
          span(ng-bind="game.by")
        .description(ng-bind="game.description")
        //.words
        //  .quote.fa.fa-quote-left
        //  span.word(ng-bind='game.words')
        //  .quote.right.fa.fa-quote-right

        button.open Open



