ul.tab-buttons
  li.active.selected
    .label My Sets
  li.completed
    .label All Sets


.tab-body
  .tab-filters
    ul.undo-list
      li
        div.status.drop-down(name='Status', reset='All',value='',options='[{value: "Bonus"}, {value: "Locked"}, {value: "Completed"}, {value: "Not Opened"}]')
      li
        div.assigned.drop-down(name='Assigned', reset='All', value='',options='[{value: "Assigned"}, {value: "Not Assigned"}]')
      li
        div.pre-reading.drop-down(name='Type', reset='"All"', value='',options='[{value: "Pre Reading"}, {value: "Not Pre Reading"}]')

      li
        div.sort.drop-down(name='Sort', reset='Clear', value='',options='[{value: "Date Started"}, {value: "Last Played"}]')

  ul.deck
    li(ng-repeat='game in games')
      a.game.card(ui-sref="vocab.view({id: 1})")
        .rubber_stamp Assigned
        .picture
          img(src="assets/images/vocab.eg.jpg")
        .title(ng-bind="game.title")
        .by
          span By &nbsp;
          span(ng-bind="game.by")
        .description(ng-bind="game.description")
        button.open Open



