$tab_width   : 200px;
$tab_height  : 50px;
$filter_width: 200px;
$button_border_radius: $border_radius;

ul.tab-buttons{
  @extend .undo-list;
  @extend .resize-container;
  width: 100%;

  >li {
    float   : left;
    height  : $tab_height;
    width   : $tab_width;
    position: relative;
    //margin-right: $padding;
    max-width: calc(50% - #{$padding});
    background: $tab_body_color;
    border-top-left-radius: $button_border_radius;
    border-top-right-radius: $button_border_radius;
    border: $very_light_border;
    border-bottom: none;
    @include transition($transition);
    .label{
      position: relative;
      line-height: $tab_height;
      text-align: center;
    }
  }
}

ul.tab-buttons > li.selected{
  color: $tab_highlight_text;
  background-color: $tab_highlight_color;
  font-weight: $weight_bold;
  box-shadow: $bar_shadow;
  border: $highlight_border;
}

ul.tab-buttons:hover{
  > li:not(.selected):hover{
    color: $tab_highlight_color;
    border: $highlight_border;
  }
}