.crg-editor(ng-controller='CRGEditorController',ng-class='{"selecting-from-passage": editor.passageSelector.selecting}')
  .editor-bar.crg-bar
    include editor-bar/editor-bar
  .crg-passage
    .passage
      include ../crgameplay/body/passage
  include form/crg-editor-form