.scene-param
  label.param-label Focus
  input.param-input(type='text', disbaled='true', ng-model='scene.config.focus.text')
  span(set-focus).param-action.fa.fa-pencil
.scene-param
  label.param-label Highlight
  input.param-input(type='text', disbaled='true', ng-model='scene.config.phrase.text')
.scene-param
  label.param-label Transcript
  textarea(ng-model='scene.config.transcript.text').param-input
