.game-progress{
  padding: 0px $padding;
  > ul{
    @extend .undo-list;
    @extend .resize-container;
    > li {
      float: left;
      height: $game_progress_height;
      background-color: $game_progress_bg_color;

      .progress{
        height: 100%;
        width: 100%;
        background-color: $game_progress_color;
        @include transformOrigin(0 0);
        @include transform(scaleX(0));
      }
    }

    > li.done{
      .progress{
        @include transition(transform $slow_time $transition_function);
        @include transform(none);
      }
    }
    > li.current{
      .progress{
        @include transform(none);
        @include animationName(expand);
        @include animationFunction(linear);
      }
    }
    > li.skipped{
      .progress{
        @include transform(scaleX(0));
      }
    }
    > li:first-child{
      border-top-left-radius: $game_progress_roundness;
      border-bottom-left-radius: $game_progress_roundness;
    }
    > li:last-child{
      border-top-right-radius: $game_progress_roundness;
      border-bottom-right-radius: $game_progress_roundness;
    }
  }
}