.game-progress
  ul
    li(ng-repeat='game in gameplan.games',style='width: {{100/gameplan.games.length}}%')
      .progress(ng-class='{"playing" : game.playing}', style='animation:  expand {{timer.timeLimit}} linear')