.game-progress{
  padding: 0px $padding;
  > ul{
    @extend .undo-list;
    @extend .resize-container;
    > li {
      float: left;
      height: $game_progress_height;
      .progress{
        height: 100%;
        width: 100%;
        background-color: $game_progress_color;
        @include transformOrigin(0 0);
        @include animation(expand);
      }
    }
  }
}