.game-progress
  ul
    li(ng-repeat='word in deck.words',ng-class='{"current" : word.current, "done" : word.done}' style='width: calc({{100/deck.words.length}}% - 3px); margin-right: 3px;')
      .progress(style='animation:  expand {{timer.timeLimit}} linear')