$word_spacing: $padding/2;
$line_height  : $extra_large_font;
$focus_out_opacity: 0.1;

#crgameplay, #crg{
  .passage{
    .title{
      font-size: $sub_giant_font;
      line-height: $sub_giant_font  + $padding;
      .from{
        font-weight: $weight_bold;
      }
      :not(.from){
        color: $light_text;
        font-weight: $weight_light;
      }
    }
    .author{
      font-size: $normal_font;
      line-height: $normal_font  + $padding/2;
    }
  }
  .text{
    @extend .resize-container;
    padding-top: $padding*2;
    position: relative;
    .selection-options{
      position: absolute;
      top: 0;
      left:0;
      z-index: 1;
      height: $line_height;
      line-height: $line_height;
      padding-right: $word_spacing;
      //background-color: $crgame_highlight_text_color;
      .close-enough-selection{
        position: relative;
        top:  -$padding/2;
        color: $white_shade;
        background-color: $logo_green;
        padding: 0px $padding;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        label{
          line-height: $smaller_font + $padding/2;
          font-size: $smaller_font;
          font-weight: $weight_normal;
        }
      }
    }
    .word{
      display: inline-block;
      height: $line_height;
      line-height: $line_height;
      padding-right: $word_spacing;
    }
    .word.line-break{
      display: block;
      height: $padding;
      @include userSelect(none);
    }
    .word.selected-word{
      background-color: $crgame_highlight_text_color;
    }
    ::selection{
      background-color: $crgame_highlight_text_color;
    }
    .word.highlight{
      background-color: $crgame_highlight_color;
      color: white;
    }
  }
  .text.focusing{
    .word:not(.focus){
      @include userSelect(none);
      opacity: $focus_out_opacity;
    }
  }
}