.title
  span From:&nbsp;
  span.from(ng-bind='passage.from')
.author
  span By&nbsp;
  span.by(ng-bind='passage.by')
.text.phrase-selector.selection-pointer(on-text-select='onTextSelect($selection.indices)', ng-class='{"focusing" : player.state.focusPhrase.length || editor.passageSelector.selection.focus.indices.length}')
  .selection-options
    .passage-selection
      button.selectFocus(ng-click='editor.passageSelector.selection.setFocus($selection.indices)', ng-show='editor.passageSelector.selection.selectingFocus') Set Focus
      button.selectPhrase(ng-click='editor.passageSelector.selection.setPhrase($selection.indices)',ng-show='editor.passageSelector.selection.selectingPhrase') Set Phrase
  .word(ng-repeat='word in passage.words', ng-class='{"line-break" : word.linebreak, "highlight": word.highlight, "focus": word.focus}', data-word-number='{{$index}}') {{word.text}}
