$word_height: 100px;
$word_label_width: 300px;
$target_height: calc(50% - #{$word_height/2});
$target_width : 50%;

$drag_delay: 100ms;

.game-mode.drop-squares{
  text-align: center;
  font-size: $sub_giant_font;

  .targets{
    height: $target_height;
    @extend .resize-container;
    .target{
      position: relative;
      float: left;
      height: 100%;
      width : $target_width;
      overflow: hidden;
    }
  }
  .word{
    position: relative;
    z-index: 1;
    height: $word_height;
    line-height: $word_height;
    font-size: $giant_font ;
    width: 100%;
    >label{
      padding: 0px 4*$padding;
      border-radius: $border_radius;
      @include transition(background $slow_time $transition_function transfrom $drag_delay $transition_function);
      @include userSelect(none);
    }

    >label:hover{
      background-color: $black_tint;
      color: $white;
    }
    .can-drop, .moving, .moves{
      font-size: $larger_font;
      position: relative;
      vertical-align: super;
      color: $white;
    }
    .can-drop{
      display: none;
    }
  }

  [ng-drag] {
    @include userSelect(none);
    cursor: move;
    display: inline-block;
  }

  [ng-drag].dragging {
    box-shadow: $card_elevated_shadow;

    .moving{
      display: inline-block;
    }
  }

  [ng-drag].drag-over.dragging {
    .can-drop{
      display: inline-block;
    }
    .moving{
      display: none;
    }
  }

}