ul.navigation-links{
  float   : none;
  padding : 0px;
  box-shadow      : $shadow;
  border: none;
  background-color: $contrast_color;
  margin: $padding $padding $padding*2;


  > li {
    float        : none;
    display      : block;
    color        : $black_text !important;
    font-weight  : $weight_bold ;
  }

  > li.current{
    text-transform: capitalize;
  }
}

ul.navigation-links:not(.expand){
  > li:not(.current) {
    display: none;
  }
  > li.current{
    border: $highlight_border;
    color: $navigation_bar_select_bg !important;
    background: $navigation_bar_color;
  }
}

ul.navigation-links > li{

}
