ul.navigation-links(ng-class='{"expand": state._expand_menu}', ng-click='state._expand_menu = !state._expand_menu')
  li.home
    a(ui-sref="home") Dashboard
  li.articles
    a(ui-sref="articles") Articles
  li.vocabulary.selected
    a(ui-sref="vocab") Vocabulary
  li.reports
    a(ui-sref="reports") Reports