ul.navigation-links{
  float   : none;
  padding : 0px;
  box-shadow      : $shadow;
  border: none;
  background-color: $navigation_bar_color;
  > li {
    float        : none;
    padding-left : $padding*4;
    text-align   : left;
    display      : block;
    font-weight  : $weight_bold ;
  }
}
ul.navigation-links:not(.expand) {
  display: none;
}