ul.navigation-links(ng-class='{"expand": nav.expand}', ng-click='nav.expand = !nav.expand')
  li.home
    a(ui-sref="home") Dashboard
  li.articles
    a(ui-sref="articles") Articles
  li.vocabulary.selected
    a(ui-sref="vocab") Vocabulary
  li.reports
    a(ui-sref="reports") Reports