ul.navigation-links{
  float   : none;
  padding : 0px;
  box-shadow: $card_elevated_shadow;
  margin-bottom: $padding*2;
  border: none;
  background-color: $contrast_color;


  > li {
    float        : none;
    display      : block;
    color        : $black_text !important;
    font-weight  : $weight_bold ;
  }

  > li.current{
    text-transform: capitalize;
  }
}

ul.navigation-links:not(.expand){
  > li:not(.current) {
    display: none;
  }
  > li.current{
    background-color: $navigation_bar_select_bg;
  }
}

ul.navigation-links > li{

}
