.gameplay(ng-init='mode={sentence: false, definition: false,synonym: false,image: true}')
  include game-header/game-header
  include game-controls/game-control
  include modes/game-mode
  .skip(ng-show='mode')
    button.outline
      a
        span Skip
        .icon.fa.fa-reply
