$gamelpay_padding: $padding*2;

.gameplay{
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: $top_bar_layer;
  height: 100%;
  width: 100%;
  background-color: $gameplay_bg;
  .game-body{
    height: $gameplay_body_height;
    ul.challenges{
      @extend .undo-list;
      display: block;
      height: 100%;
      @include transition(transform $slow_time $transition_function);
      > li {
        position: relative;
        float: left;
        width: 100%;
        height: 100%;
      }
    }
  }
  .skip{
    position: absolute;
    bottom: 0;
    right: 0;
    padding: $padding;
    button{
      width: $button_width;
      .icon{
        @include transform(rotateY(180deg));
      }
    }
  }
}
@import 'game-header/game-header';
@import 'game-controls/game-control';
@import 'game-play-navigation.state';
@import 'modes/game-mode';
@import 'game-progress/game-progress';
