.gameplay(ng-init='mode={sentence: false, definition: false,synonym: false,image: true}')
  include game-header/game-header
  include game-progress/game-progress
  include game-controls/game-control
  include modes/game-mode
