$gamelpay_padding: $padding*2;

.gameplay{
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: $top_bar_layer;
  height: 100%;
  width: 100%;
  background-color: $gameplay_bg;
  .skip{
    position: absolute;
    bottom: 0;
    right: 0;
    padding: $padding;
    button{
      width: $button_width;
      .icon{
        @include transform(rotateY(180deg));
      }
    }
  }
}
@import 'game-header/game-header';
@import 'game-controls/game-control';
@import 'game-play-navigation.state';
@import 'modes/game-mode';
@import 'game-progress/game-progress';
