ui-view
  #crg
    button.demo.outline
      a(ui-sref='crg.gameplay') Play Sample Game

    button.demo.outline
      a(ui-sref='crg.editor') Edit Sample Game

    button.demo.outline
      a(ui-sref='crg.editor.new') Create New Game