.vocab.card ID {{vocabset.id}}
  .assigned
    label Assigned on {{vocabset.assigned.on}}
    .assigned-by
      img(src='{{vocabset.assigned.by.image}}')
      label(ng-bind='vocabset.assigned.by.name')
