$exposure_size: 30px;
$exposure_current_size: 45px;
$max_exposure_count: 6;
$connector_thickness: 2px;

.vocabset.card{
  .deck{
    position: relative;
    border-top: $very_light_border;
    padding: 2*$padding $padding;
    .words{}
    ul.exposures{
      @extend .undo-list;
      @extend .resize-container;
      width: 100%;
      position: relative;
      z-index: 2;
      > li {
        float: left;
        width: calc(100%/#{$max_exposure_count});
        .exposure{
          width     : 100%;
          padding   : 0px $padding;
          height    : $exposure_current_size + 2*$padding;
          position  : relative;
          .state{
            position      : absolute;
            margin        : auto;
            border        : $very_light_border;
            border-radius : 50%;
            overflow      : hidden;
            text-align    : center;
            background-color: $vocab_exposure_state_bg;
          }
          .state:not(.current){
            width       : $exposure_size;
            height      : $exposure_size;
            line-height : $exposure_size;
            bottom      : $exposure_current_size/2 + $exposure_size/2 - $padding/2;
          }
          .state.current{
            width       : $exposure_current_size;
            height      : $exposure_current_size;
            line-height : $exposure_current_size;
            bottom      : $exposure_current_size/2;
          }
          .state.playable{
            background-color: $vocab_exposure_highlight_state_bg;
          }
        }
      }
    }
    .connector{
      position: absolute;
      bottom  : $exposure_current_size + $padding*2;
      left    : $padding*2;
      width: calc(100% - #{$padding}*2 - 100%/#{$max_exposure_count} + #{$exposure_size/2});
      height: $connector_thickness;
      background-color: $vocab_exposure_connector_color;
    }
  }
}