$vocab_card_max_width: 450px;
$assigned_by_width: 200px;
$image_size: 75px;
$message_roundness: 5px;

.vocabset.card{
  max-width: $vocab_card_max_width;
  border-radius: $border_radius;
  .assigned{
    @extend .resize-container;
    padding: $padding;
    background-color: $vocab_assigned_bg;
    border-radius: inherit;
    text-align: center;

    .assigned-date{
      padding: $padding 0px;
    }
    .assigned-by, .assigned-message{
      float: left;
    }
    .assigned-by{
      width: $assigned_by_width;
      .picture{
        height: $image_size;
        width : $image_size;
        margin: auto;
        border-radius: 50%;
        overflow: hidden;

        > img{
          height : 100%;
          margin: auto;
        }
      }
      .name{
        padding: $padding;
      }
    }
    .assigned-message{
      float: left;
      max-width: calc(100% - #{$assigned_by_width});
      min-height: $image_size/2;
      background-color: $white;
      padding: $padding*2;
      margin-top: $padding;
      border-radius: $message_roundness;
    }
  }
}