$param_action_width: 30px;

.scenes{
  .add-scenes{
    button{
      width: calc(100% - #{$padding*2});
      margin: $padding;
    }
  }
}
.scene-config-form{
  padding: 2*$padding $padding;

  textarea, input{
    padding: $padding;
    border: $very_light_border;
    width: calc(100% - #{2*$param_action_width});
  }
  input{
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  textarea{
    min-height: $textarea_min_height;
    resize: vertical;
  }
  button{
    float: right;
    padding: $padding/2 $padding*3;
    margin-left: $padding;
  }
  .scene-param{
    margin-bottom: $padding*3;
    line-height: $extra_large_font;
    @extend .resize-container;

    .param-label{
      width: $label_width;
      float: left;
      text-align: right;
      padding-right: $padding*2;
    }

    .param-input{
      float: left;
      @extend .resize-container;
      border-radius: $border_radius;
      width: calc(100% - #{$label_width});
      input, .param-action{
        float: left;
      }
      .param-action{
        display: block;
        width: $param_action_width;
        text-align: center;
        padding: $padding;
        cursor: pointer;
      }
      button{
        float: right;
        margin-right: 2*$param_action_width;
      }

      .input-options{
        $checkbox_width: 20px;
        @extend .resize-container;
        margin-bottom: $padding;

        input.check{
          float: left;
          width: $checkbox_width;
        }
        input.checked{
          float: left;
          margin-right: $padding;
          display: inline-block;
          width: calc(100% - #{$checkbox_width + $padding*2 + $param_action_width*2});
        }
      }
    }
    .param-input.no-edit{
      button{
        margin-right: 2*$param_action_width + 2*$padding;
      }
    }

  }

  .scene-actions{
    margin-right: 2*$param_action_width;
    @extend .resize-container;
    padding: $padding 0px;

  }
}