.navigation-bar{
  .logo{
    height: auto;
    float : none;
    width: 100%;
    padding: $padding*2;
    > img{
      height : $logo_height_on_mobile;
      width  : auto;
      margin: auto;
    }
  }
}