#crgameplay
  .header
    .logo
      img(src="assets/images/zinc-logo-small.png")
    .crgame-progress
      .connector
      ul
        li Main Idea
        li.current Zincing
        li Skill Practice
        li Main Idea
    .skill-progress
      .skill-name Zinc Skills
        ul
          li Visualize
          li Imagine
          li Key Images
  .body
    .options
      .points
        .value 10
        label Points
      .sound
        button.fa.fa-volume-up
      .exit(ng-click='game.player.exit()')
        button.fa.fa-sign-out
    .passage(ng-init='passage = game.passage')
      include ../components/passage/passage
    .transcript
      .transcript-dialog
        .transcript-message
          .typewriter.text(text='game.player.state.transcript.text',typing-speed='20',before-typing='game.player.typing = true;',after-typing='game.player.typing = false;')
        ul.select-options
          li(ng-repeat='option in game.player.state.options',ng-init='_selected=false', ng-click='_selected = !_selected')
            .check-box.fa.fa-check-square(ng-show='_selected')
            .check-box.fa.fa-square-o(ng-hide='_selected')
            label {{option.label}}
        ul.buttons
          li(ng-repeat='button in game.player.state.buttons')
            button(ng-click='button.onClick()',ng-class='{"focus-out": game.player.typing}') {{button.label}}
        .user-input(ng-if='game.player.state.showInput')
          textarea(ng-model='game.player.input')
          button.button-outline.submit(ng-class='{"focus-out": game.player.typing}',ng-click='game.player.state.submitInput(game.player.input)') Submit
      .transcript-window
        img(src='assets/images/transcript-speaker.png')
h1(ng-bind='game.selectedText')