.state.crg-gameplay, .state.crg-editor, .state.crg-editor-preview{
  background-color: white;

  #navigation{
    @include transform(translateY(calc(-100% - #{$padding})));
  }
  #content{
    margin-top: 0px;
    padding: 0px;
  }
}