$input_height : 4*$padding;

.form-component{
  display: block;
  height: $input_height;
  line-height: $input_height;
  outline: none;
  border-radius: $border_radius;
  color: $black_text;
  @include transition($transition);
}

.form-component.active{
  box-shadow: $button_shadow;
}

.input-component{
  @extend .form-component;
  border: $very_light_border;
  background: $input_bg;
  padding: 0px $padding*5;
}

.form-component:hover{
  @extend .active;
}

.drop-down{
  position: relative;
  z-index: 1;
  height: $input_height;
  overflow: hidden;

  .current{
    @extend .input-component;
    > label{
      padding: 0px $padding;
    }
    .placeholder, .caret{
      color: $placeholder_color;
    }
  }
  ul.options{
    @extend .undo-list;
    @extend .resize-container;
    box-shadow: $button_shadow;
    background: white;
    cursor: pointer;
    > li{
      @extend .input-component;
      display: block;
      border: 1px solid transparent;
    }
  }
}

.drop-down.active{
  overflow: visible;
}

button.outline{
  @extend .form-component;
  border: $highlight_border;
  padding: 0px;
  background: transparent;
  color: $button_color;
  font-weight: $weight_bold;
  border-radius: $border_radius;
}

button.outline.active{
  background: $button_color;
  color: $white;
  @extend .form-component.active;
}