$stamp_color: $logo_green;

.rubber_stamp {
  position: absolute;
  z-index: 1;
  top: $padding*2;
  float: left;
  padding: $padding/2;
  line-height: 1.5*$padding;

  text-transform: uppercase;
  font-weight: bold;
  color: $stamp_color;

  border: $padding/2 solid $stamp_color;
  border-radius: $padding;

  @include transform(rotate(-10deg));
}
.rubber_stamp::after {
  position: absolute;
  content: " ";
  width: 100%;
  height: auto;
  min-height: 100%;
  top: -10px;
  left: -10px;
  padding: 10px;
  //background: url(https://raw.github.com/domenicosolazzo/css3/master/img/noise.png) repeat;
}