.editor-bar
  button Publish
  button Preview
.crg-passage
  .passage
    include ../body/passage
.crg-skills-form
  .skills-accordion
    .zincing.accordion
      .imagine.skill
        .skill-bar
          label Imagine
          button Add
        ul
          li
            include skills/zinc-visluaize