.game-controls{
  @extend .resize-container;

  > ul.key-value-list {
    @extend .resize-container;
    > li {
      float: right;
      .value{
        color: $game_play_hightlight_color;
      }
      .key{
        font-size: $extra_small_font;
      }
    }
  }
}