.crg-options{
  @extend .resize-container;
  button.demo{
    padding: 0px;
    width: $demo_width;
    height: $demo_height;
    line-height: $demo_height;
    float: left;
    margin: $padding;
  }
}

.about-crg{
  h5,h3 {
    margin: $padding*2 0px 0px;
  }
}