.crg-options{
  @extend .resize-container;

  > li {
    padding-left: $padding;
    clear: both;
    padding-bottom: $padding;
    label, a{
      padding-right: $padding;
    }
  }
}

.about-crg{
  h5,h3 {
    margin: $padding*2 0px 0px;
  }
}