h3 What is this ?
ul
  li A simple version of Close Reading Game.
  li It can create a new game, edit a game and play a game.
  li Code for this implementation is production quality and reusable in the Zinc Learning Lab platform.

h3 About the Design
p In this context, design includes
ul
  li Data structures and models to support any complexity of scenes and interactions
  li Modeling data on web-server and database
  li Capturing user actions and saving it on a web-server
  li Frontend code for CRG implementation

p
  b Design here does not include the visual design. The styling is only placeholder and has to be redone based on mockups.


h3 Model and Data Structure

h5 Player
ul
  li has state
  li runs script

p
  h5 Script
  ul
    li uses data to generate a sequence of scenes

p
  h5 Scene
  ul
    li collection of states

p
  h5 State
  ul
    li defines what to show to end user
    li defines what happens when user performs an action

p
  h5 UI Template
  ul
    li uses player state to render user interface
    li highlight text
    li focus on text
    li transcript dialog
    li buttons and actions
    li input box
    li action on text select
    li multi choice questions

h5 Scenes as State Machine
ul
  li Each scene consists of a number of states
  li UI is rendered based on current scene and state
  li Player moves from one state to another based on user actions
  li A state can be easily added, changed or removed without affecting any other state
img(src='assets/images/proto/state-machine.png')
