$icon_size: $larger_font;
$height   : $top_bar_height;


.navigation-bar{
  height  : $navigation_bar_height + 2*$padding;
  line-height  : $navigation_bar_height;
  padding : $padding;
  color   : $navigation_bar_text;

  box-shadow      : $shadow;
  background-color: $navigation_bar_color;

  .logo{
    width : $profile_bar_width;
  }

}

