$actions_size_mobile: $mobile_min_action_space;

.navigation-bar{
  ul.actions{
    float : none;
    width: 100%;
    background-color: $navigation_bar_color;
    border-top: 1px solid $mobile_menu_bar_border_color;
    border-bottom: 1px solid $mobile_menu_bar_border_color;
    box-shadow: $shadow;

    > li {
      float      : left;
      display    : block;
      width      : 33%;
      font-size  : $normal_font;
      padding    : 0px $padding*4;
      text-align: center;
    }
    > li:not(:last-child){
      border-right: 1px solid $mobile_menu_bar_border_color;
    }
  }
  ul.actions:not(.expand){
    display: none;
  }
}

