ul.actions(ng-class='{"expand": state._expand_menu}', ng-click='state._expand_menu = !state._expand_menu')
  li.user
    span.fa.fa-user
  li.nofifications
    span.fa.fa-bell
  li.help
    span.fa.fa-question-circle