$actions_size_mobile: $mobile_min_action_space;

.navigation-bar{
  ul.actions{
    float : none;
    width: 100%;
    > li {
      float      : left;
      display    : block;
      width      : 33%;
      font-size  : $normal_font;
      padding    : 0px $padding*4;
      color: $very_light_text;
      text-align: center;
    }
  }
}

