@import "components/base";
@import "components/typograhy";
@import "components/vars";
@import "components/colors";
@import "components/material";
@import "components/transitions";
@import "components/forms";
@import "components/rubber-stamp";
@import "components/speak";
@import "components/flash-messages/flash-messages";
@import "components/state-loader/state-loader";

body{
  background: $body_color;
  font-family: $font_family;
  font-size  : $normal_font;
  line-height: $large_font;
  #content{
    padding: 5*$padding 2*$padding;
    #section{
      float: left;
      width: calc(100% - (#{$profile_bar_width}));
      padding: 0px 2*$padding;
    }
  }
}

@import "navigation/navigation";
@import "profile-bar/profile-bar";
@import "vocabulary/vocabulary";
