#app.state(ng-app='zinc', ng-class="state.name")
  #navigation
    .navigation-bar
      include navigation/navigation
  #content
    div(ui-view)
  #state-loader(ng-class="{'loading' : state.loading}")
  ul#flash-messages
    include components/flash-messages/flash-messages