@import "components/flash-messages/flash-messages.mobile";

body{
  background-color: $mobile_bg_color;
  #content{
    padding: 0px;
    #section{
      float: none;
      width: 100%;
      padding: 0px;
    }
  }
}
.coming-up{
  padding: $padding *2;
}

@import "profile-bar/profile-bar.mobile";
@import "navigation/navigation.mobile";
