@import "components/base";
@import "components/typograhy";
@import "components/vars";
@import "components/colors";
@import "components/material";

body{
  background: $body_color;
  font-family: $font_family;
  font-size  : $normal_font;
  line-height: $large_font;
  #content{
    padding: 2*$padding $padding;
    #section{
      float: left;
      width: calc(100% - (#{$profile_bar_width}));
      padding: $padding;
    }
  }
}

@import "navigation/navigation";
@import "profile-bar/profile-bar";
@import "vocabulary/vocabulary";
