.game-mode.sentence(ng-if='mode.sentence')
  include sentence-game
.game-mode.definition(ng-if='mode.definition')
  include definition-game
.game-mode.synonym(ng-if='mode.synonym')
  include synonym-game
.game-mode.image(ng-if='mode.image')
  include image-game