.game-mode.sentence(ng-if='gamePlay.current.mode.sentence')
  include sentence-game
.game-mode.definition(ng-if='gamePlay.current.mode.definition')
  include definition-game
.game-mode.synonym(ng-if='gamePlay.current.mode.synonym')
  include synonym-game
.game-mode.drop-squares.image(ng-controller='DropSquaresController', ng-if='gamePlay.current.mode.image')
  include image-game/image-game
.skip(ng-show='gamePlay.current')
  button.outline
    a
      span Skip
      .icon.fa.fa-reply
