$button_width: 150px;

ul.navigation-bar{
  @extend .undo-list;
  height: $navigation_bar_height;
  color            : $navigation_bar_text;
  background-color: $navigation_bar_color;
  box-shadow      : $shadow;

  > li {
    float       : left;
    width       : $button_width;
    line-height : $navigation_bar_height;
    text-align  : center;
    cursor      : pointer;
    //font-weight : $weight_bold;
    a{
      display: block;
      color: inherit;
      text-decoration: none;
    }
  }

  > li.selected{
    cursor: default;
    background-color: $navigation_bar_select_bg;
  }

  >li:hover{
    background-color: $navigation_bar_select_bg;
  }
}

ul.navigation-bar:hover > li.selected{
  cursor: default;
  color : $navigation_bar_select_text;
  background-color: inherit;
}