@mixin selected(){
  cursor: default;
  color : $navigation_bar_select_text;
  background-color: $navigation_bar_select_bg;
}

ul.navigation-links{
  >li:hover{
    color : $navigation_bar_select_bg;
  }
}


.state.vocab,
.state.vocab-view{
  ul.navigation-links{
    > li.vocabulary{
      @include selected();
    }
  }
}
.home{
  ul.navigation-links{
    > li.home{
      @include selected();
    }
  }
}

ul.actions > li:hover{
  color : $navigation_bar_select_text;
  background-color: $navigation_bar_select_bg;
}