$icon_size: $larger_font;
$height   : $top_bar_height;


.navigation-bar{
  height  : $navigation_bar_height;
  line-height  : $navigation_bar_height;
  color   : $navigation_bar_text;

  box-shadow      : $shadow;
  background-color: $navigation_bar_color;

  .logo{
    height: 100%;
    float : left;
    > img{
      display: block;
      height : 100%;
    }
  }

  ul.actions{
    @extend .undo-list;
    float : right;
    height: 100%;
    > li {
      font-size  : $icon_size;
      float      : left;
      padding    : 0px 2*$padding;
    }
  }
}