
ul.navigation-links{
  @extend .undo-list;
  @extend .resize-container;
  float           : left;
  padding-left    : $padding*2;
  > li {
    float       : left;
    padding     : 0px $padding*2;
    line-height : $navigation_bar_height;
    text-align  : center;
    cursor      : pointer;
    //font-weight : $weight_bold;
    a{
      display: block;
      color: inherit;
      text-decoration: none;
    }
  }

  > li.selected{
    cursor: default;
    color : $navigation_bar_select_text;
    background-color: $navigation_bar_select_bg;
  }

  >li:hover{
    color : $navigation_bar_select_text;
    background-color: $navigation_bar_select_bg;
  }
}