.logo
  img(src="assets/images/zinc-logo.png")
ul.navigation-links
  li.home
    a(ui-sref="home") Dashboard
  li.articles
    a(ui-sref="articles") Articles
  li.vocabulary.selected
    a(ui-sref="vocab") Vocabulary
  li.reports
    a(ui-sref="reports") Reports
ul.actions
  li.user
    span.fa.fa-user
  li.nofifications
    span.fa.fa-bell
  li.help
    span.fa.fa-question-circle