.crg-editor-form
  ul
    li.zincing.skill-group
      .accordion-bar.crg-bar
        label Zincing
        button
          span.fa.fa-plus
      include ../../scenes/zinc-visualize/zinc-visluaize-editor
      include ../../scenes/zinc-imagine/zinc-imagine-editor
  include passage-selector/passage-selector