.crg-editor-form
  .scene-group(ng-init='_expand = true;group="zincing"', ng-class='{"expand" : _expand}')
    .accordion-bar(ng-click='_expand = !_expand')
      label
        span.expand-icon.fa.fa-caret-down
        span Zincing

    include ../../scenes/scenes-editor
