.crg-editor-form
  .scene-group(ng-init='_expand = true;', ng-class='{"expand" : _expand}')
    .accordion-bar(ng-click='_expand = !_expand')
      label
        span.expand-icon.fa.fa-caret-down
        span Zincing

    ul.scenes
      li.scene-editor.card(ng-repeat='scene in editor.script.scenes', ng-init='sceneIndex = $index;', ng-if='scene.group == "zincing"')
        .scene-title
          label
            span {{scene.label}}
        .scene-config-form
          .text-input(ng-if='scene.name == "text-input"')
            include ../../scenes/text-input/text-input-editor
          .multi-choice(ng-if='scene.name == "multi-choice"')
            include ../../scenes/multi-choice/multi-choice-editor
          .find-all-key-images(ng-if='scene.name == "find-all-key-images"')
            include ../../scenes/zinc-key-images/find-all-key-images
          .yes-no(ng-if='scene.name == "yes-no"')
            include ../../scenes/yes-no-choice/yes-no-editor
          button(ng-click='editor.removeScene(scene)').remove Remove
          button(ng-click='editor.previewScene(scene)').remove Preview
