$label_width: 125px;
$textarea_min_height: 150px;
$accordion_height: 60px;

.crg-editor-form{
  position: relative;
  padding-top: $padding*4;
  @include transition(opacity $slow_time $transition_function);

  .card{
    border: $very_light_border;
    border-radius: 2px;
    overflow: hidden;
    @include transition($shadow_transition);
  }
  .card:hover{
    box-shadow: $card_elevated_shadow;
  }
  .scene-group{
    border: $very_light_border;
    .accordion-bar{
      @extend .resize-container;
      background-color: $crg_editor_color;
      line-height: $accordion_height;
      height: $accordion_height;
      button, label{
        margin-right: $padding;
        padding: 0px $padding*2;
        display: block;
      }
      label{
        float: left;
        text-transform: capitalize;
      }
      .expand-icon{
        margin-right: $padding/2;
      }
      button{
        float: right;
        color: $light_text;
        border: none;
        background-color: transparent;
        border-radius: $border_radius;
      }
    }
    ul.scenes{
      @extend .undo-list;
      padding: 2*$padding;
      background-color: $white_shade;

      .scene-editor{
        margin-bottom: $padding*2;
        border-radius: $border_radius;
        overflow: hidden;
        width: 100%;
        background-color: white;
        .scene-title{
          padding: $padding;
          text-transform: capitalize;
          background-color: $contrast_color;
          @include transition($transition);
        }

      }
      .scene-editor:hover{
        .scene-title{
          background-color: $crg_editor_color;
          color: white;
        }
      }
    }
  }

  .scene-group:not(.expand){
    .accordion-bar{
      .expand-icon{
        @include transform(rotate(-90deg));
      }
    }
    ul.scenes{
      display: none;
    }
  }
}