$label_width: 200px;

.crg-editor-form{
  position: relative;
  padding-top: $padding*4;

  > ul {
    @extend .undo-list;
    >li.skill-group{
      background-color: $white_shade;
      border: $very_light_border;

      .skill{
        margin: $padding*2;
        border: $very_light_border;

        .skill-form{
          padding: 2*$padding $padding;
          border-bottom: $very_light_border;
          .skill-param{
            margin-bottom: $padding;
            line-height: $extra_large_font;
            @extend .resize-container;
            .param-label, .param-input{
              padding: $padding;
            }
            .param-label{
              width: $label_width;
              float: left;
              text-align: right;
              padding-right: $padding*2;
            }
            .param-input{
              float: left;
              border: $very_light_border;
              width: calc(100% - #{$label_width});
            }
          }
        }
      }
    }
  }

}