$word_height: 100px;
$word_label_width: 300px;
$target_height: calc(50% - #{$word_height/2});
$target_width : 50%;


.game-mode.image{
  text-align: center;
  font-size: $sub_giant_font;
  .targets{
    height: $target_height;
    @extend .resize-container;
    .target{
      position: relative;
      float: left;
      height: 100%;
      width : $target_width;
      overflow: hidden;
      label{
        position: absolute;
        top: calc(50% - #{$sub_giant_font/2 + $padding*7});
        left: $padding*2;
        width: calc(100% - #{$padding*4});
        background-color: $input_dull_bg;
        padding: $padding*7 0px;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
  .word{
    height: $word_height;
    line-height: $word_height;
    font-size: $giant_font ;
    width: 100%;
  }
}