
ul.tab-buttons{
  >li, > li.selected {
    width   : 50%;
    max-width   : 50%;
    border-radius: 0px;
    border: none;
    box-shadow: none;
    font-weight: $weight_light;
    .label{

    }
  }
  >li:not(.selected){
    background-color: $tab_button_color;
  }
}
