$image_size: $round_image_size;

$score_value_size: $extra_large_font;
$score_label_size: $large_font;

#profile-bar{
  width: $profile_bar_width;
  float: left;
  background: $profile_bar_bg;
  border : $very_light_border;
  box-shadow: $shadow_horizontal;
  @include transition(transform $transition_time $transition_function);

  .heading{
    background: $profile_bar_heading_bg;
    padding   : $padding;
    .picture{
      margin  : auto;
      height  : $image_size;
      width   : $image_size;
      > img{
        display : block;
        height  : 100%;
        width   : 100%;
        border-radius: 50%;
      }
    }
    .title{
      padding-top   : $padding;
      font-size: $large_font;
      line-height: $large_font;
      text-align: center;
    }
  }

  ul.score-card{
    @extend .undo-list;
    text-align: center;
    > li{
      padding: 2*$padding ;
      .value{
        font-size: $score_value_size;
        line-height: $score_value_size + $padding/2;
        color    : $profile_bar_value_color;
      }
      .label{
        color: $light_text;
        //font-size: $score_label_size;
        //line-height: $score_label_size;
      }
    }
  }
}