.heading
  .picture
    img(src="assets/images/user.jpg")
  .title Nishant Singh
ul.score-card
  li
    .value  #2
    .label  Tamara Oslon's Class
  li
    .value  #12
    .label  Serverus Snape's Class
  li
    .value  178
    .label  Vocabulary Points
  li
    .value  9
    .label  Words Learned
