.game-header
  .vocabset
    .picture
      img(ng-src='{{gamePlay.image}}')
    .title(ng-bind='gamePlay.title')
  button.outline.exit-game
    a.undo-link(ui-sref="vocab.view({id: vocabset.id})") Exit
      .fa.fa-sign-out
