$game_header_padding: $padding;
$header_height:  $game_header_image_size + 2*$game_header_padding;
$vocab_head_heigth: 80px;

.game-header{
  @extend .resize-container;
  .vocabset{
    @extend .resize-container;
    padding: $game_header_padding;
    float: left;
    .title, .picture{
      float: left;
    }
    .title{
      font-size  : $large_font;
      font-weight: $weight_bold;
      line-height: $game_header_image_size;
      padding-left: $game_header_padding;
      text-transform: capitalize;
      max-width: calc(100% - #{$game_header_image_size});
      max-height: $vocab_head_heigth;
      @extend .overflow-text;
    }

    .picture{
      height: $game_header_image_size;
      width : $game_header_image_size;
      border-radius: 50%;
      overflow: hidden;
      img{
        display: block;
        height: 100%;
        margin: auto;
      }
    }
  }
  .exit-game{
    display: block;
    float: right;
    width: $button_width;
    margin: $padding*2 $padding*2 $padding*2 0px;
  }
}