$col_one_width: 100px;
$col_three_width: 200px;
$col_two_width: calc(100% - #{$col_one_width + $col_three_width});

#crgameplay{
  background-color: $gameplay_bg;
}

@import 'crgameplay-navigation.state';
@import 'crg-header';
