#crgameplay
  .header
    .logo
      img(src="assets/images/zinc-logo-small.png")
    .crgame-progress
      .connector
      ul
        li Main Idea
        li.current Zincing
        li Skill Practice
        li Main Idea
    .skill-progress
      .skill-name Zinc Skills
        ul
          li Visualize
          li Imagine
          li Key Images
  .body
    .options
      .points
        .value 10
        label Points
      .sound
        button.fa.fa-volume-up
      .exit
        button.fa.fa-sign-out
    .passage
      .title
        span From:&nbsp;
        span.from(ng-bind='game.from')
      .author
        span By&nbsp;
        span.by(ng-bind='game.by')
      .text
        span(ng-repeat='word in game.passage', ng-class='{"line-break" : word.linebreak}') {{word.text}}
    .transcript
      h1 transcript

