#crgameplay
  .header
    .logo
      img(src="assets/images/zinc-logo-small.png")
    .crgame-progress
      .connector
      ul
        li Main Idea
        li Zincing
        li Skill Practice
        li Main Idea
    .skill-progress
      .skill-name Zinc Skills
        ul
          li Visualize
          li Imagine
          li Key Images
  .body
    .options
      .points
        .value 10
        label Points
      .sound
        button.fa.fa-volume-up
      .exit
        button.fa.fa-sign-out
    .passage
      h1 Their Eyes Were Watching God
      h3 Their Eyes Were Watching God
      p Ships at distance have every man's wish on board. For some they come in with the tide. For others they sail forever onthe horizon, never out of sight, never landing until the watcher turn his eyes away in resignation, his dreams mocked to death by time. That is the life of men.
      p Now, women forget all those things they don't  want to remember, and remember everything they don't want to forget. The dream is the truth. Then they act and do things accordingly.
    .transcript
      h1 transcript

