#crgameplay
  .header
    .logo
      img(src="assets/images/zinc-logo-small.png")
    .crgame-progress
      .connector
      ul
        li Main Idea
        li.current Zincing
        li Skill Practice
        li Main Idea
    .skill-progress
      .skill-name Zinc Skills
        ul
          li Visualize
          li Imagine
          li Key Images
  .body
    .options
      .points
        .value 10
        label Points
      .sound
        button.fa.fa-volume-up
      .exit(ng-click='game.player.exit()')
        button.fa.fa-sign-out
    .passage
      .title
        span From:&nbsp;
        span.from(ng-bind='game.from')
      .author
        span By&nbsp;
        span.by(ng-bind='game.by')
      .text.phrase-selector(on-text-select='game.onSelect($selection.indices)')
        .word(ng-repeat='word in game.passage', ng-class='{"line-break" : word.linebreak}', data-word-number='{{$index}}') {{word.text}}
    .transcript
      h1 transcript
      button(ng-repeat='button in game.player.state.buttons',ng-click='button.onClick()') {{button.label}}

    .user-input(ng-if='game.player.state.showInput')
      textarea
      button.button-outline.submit(ng-click='game.player.state.submitInput(__userInput)', ng-model='__userInput')
h1(ng-bind='game.selectedText')