.scene-param
  label.param-label Focus
  .param-input
    input(type='text', disbaled='true', ng-model='scene.config.focus.text')
    span(set-focus).param-action.fa.fa-pencil
    span(ng-click='scene.config.focus = {indices: [], text: []}').param-action.fa.fa-trash-o


.scene-param
  label.param-label Highlight
  .param-input
    input(type='text', disbaled='true', ng-model='scene.config.phrase.text')
    span(set-highlight).param-action.fa.fa-pencil
    span(ng-click='scene.config.phrase = {indices: [], text: []}').param-action.fa.fa-trash-o

.scene-param
  label.param-label Question
  .param-input
    textarea(ng-model='scene.config.transcript.text')
.scene-param
  label.param-label Options
  .param-input
    .input-options(ng-repeat='option in scene.config.options')
      input.check(type='checkbox', ng-model='option.correct')
      input.checked(ng-model='option.label')
      span.param-action.fa.fa-times(ng-click='scene.config.options.splice($index, 1)')
    button(ng-click='scene.config.options.push({label: "", correct: false})') Add Option