$header_height: $crg_header_height;

#crgameplay{
  .header{
    @extend .resize-container;
    .logo, .crgame-progress, .skill-progress{
      float: left;
      height: $header_height;
    }
    .logo{
      width: $col_one_width;
      overflow: hidden;
      padding: $padding;
      img{
        display: block;
        margin: auto;
        height: 100%;
      }
    }
    .crgame-progress{
      line-height: $header_height;
      width: $col_two_width;
    }
    .skill-progress{
      width: $col_three_width;
    }
  }
}

@import 'crgame-progress';