$mobile_at       : 910px;
$desktop_at      : 910px;

body{
  margin    : 0px;
}
@import "app/app";

@media screen and (min-width: $desktop_at) {
  @import "app/app.desktop";
  .mobile-only{
    display: none !important;
  }
}

@media screen and (max-width: $mobile_at) {
  @import "app/app.mobile";
  .no-mobile{
    display: none !important;
  }
}
