link(rel='”author”', href='https://plus.google.com/112362757746109989640')
meta(name='google-site-verification', content='zVzMIssuMY-htX4oyYTK9Dh8hWWHP9GNgGGv_NOuNVc')
meta(name='keywords', content='agile coach,technical coach,independent consultant, technical consultant, freelancer,design thinking,ux,development,javascript,ruby,angularjs,thougthworks,')
script
  include analytics.js