#crgameplay{
  .body{
    .options{
      width: $col_one_width;
      .points{
        padding-bottom: $padding*4;
        label{
          font-size: $large_font;
          line-height: $large_font + $padding/2;
        }
        .value{
          font-size: $sub_giant_font;
          line-height: $sub_giant_font + $padding;
        }
      }
      .sound, .exit{
        margin-bottom: $padding*4;

        button{
          border-radius: 50%;
          padding: 2*$padding;
          background-color: $crgame_button_color;
          outline: none;
          border: $very_light_border;
        }
      }
    }
  }
}