.synonym-game{
  .targets{
    @extend .resize-container;
    .target{
      color: $very_light_text;
      label{
        position: absolute;
        top: calc(50% - #{$sub_giant_font/2 + $padding*7});
        left: $padding*2;
        width: calc(100% - #{$padding*4});
        background-color: $input_dull_bg;
        padding: $padding*7 0px;
        @extend .overflow-text;
      }
    }
  }
  [ng-drop].drag-enter > label {
    color: $white;
    background-color: $game_play_hightlight_color;
  }
}